<div id="login-wrapper">
  <p-button
    *ngIf="!isLogin"
    label="Login mit Google"
    (onClick)="loginWithGoogle()"
  ></p-button>

  <p-button
    *ngIf="!isLogin"
    label="Login mit E-Mail"
    (onClick)="navigateToEmailLogin()"
  ></p-button>

  <h3 *ngIf="isLogin">Herzlich Willkommen {{ username }}</h3>

  <p-button *ngIf="isLogin" label="Logout" (onClick)="logout()"></p-button>
</div>

<br /><br />

<app-einkaufsliste *ngIf="isLogin"></app-einkaufsliste>
