<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<header id="heading-wrapper">
  <img src="../assets/firebase.png" />
  <h1>VS</h1>
  <img src="../assets/springboot.png" />
  <h1>Demo</h1>
</header>

<div class="nav-buttons">
  <button
    pButton
    pRipple
    label="Firebase"
    class="p-button-warning mr-2"
    (click)="navigateToFirebase()"
  ></button>

  <button
    pButton
    pRipple
    label="Springboot"
    class="p-button-success mr-2"
    (click)="navigateToSpringboot()"
  ></button>
</div>

<br /><br />

<router-outlet></router-outlet>
