<div id="login-wrapper">
  <p-button
    *ngIf="!isLogin"
    label="Login mit E-Mail"
    (onClick)="navigateToEmailLogin()"
  ></p-button>

  <h3 *ngIf="isLogin">Herzlich Willkommen {{ username }}</h3>
  <p-button
    *ngIf="isLogin"
    label="Logout"
    (onClick)="isLogin = false"
  ></p-button>
</div>

<br /><br />

<app-email-loginsb
  *ngIf="!isLogin"
  (loginSucceed)="isLogin = true"
></app-email-loginsb>

<app-einkaufslistesb *ngIf="isLogin"></app-einkaufslistesb>
