<h2>Mit E-Mail Anmelden</h2>

<br />

<p-tabView>
  <p-tabPanel header="Anmelden">
    <div class="form-wrapper">
      <br />
      <!-- username -->
      <span class="p-float-label">
        <input type="mail" id="email" pInputText [(ngModel)]="email" />
        <label for="email">E-Mail</label>
      </span>

      <!-- Password -->
      <span class="p-float-label">
        <p-password
          id="password"
          [(ngModel)]="password"
          [feedback]="true"
          [toggleMask]="true"
        ></p-password>
        <label for="password">Passwort</label>
      </span>

      <p-button label="Anmelden" (onClick)="login()"></p-button>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Registrieren">
    <br />
    <div class="form-wrapper">
      <!-- username -->
      <span class="p-float-label">
        <input type="mail" id="email" pInputText [(ngModel)]="email" />
        <label for="email">E-Mail</label>
      </span>

      <!-- Password -->
      <span class="p-float-label">
        <p-password
          id="password"
          [(ngModel)]="password"
          [feedback]="true"
          [toggleMask]="true"
        ></p-password>
        <label for="password">Passwort</label>
      </span>

      <p-button label="Registrieren" (onClick)="signup()"></p-button>
    </div>
  </p-tabPanel>
</p-tabView>
